html,
body,
p, *,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal; /* Wyłączenie domyślnego pogrubienia */
    color: black;
    text-decoration: none; /* Wyłączenie domyślnego podkreślenia */
}

header {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 75px;
    height: 75px;
}

.title {
    flex-grow: 2;
}

.title h2 {
    margin-left: 15px;
    font-size: 32px;
    font-weight: bold;
}

nav.article-links {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-end;
    flex-grow: 4;
}

nav.article-links a {
    width: 100px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.container main {
    display: flex;
    flex-direction: row;
}

article {
    margin: 15px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

article h2 {
    height: 50px;
    width: 50%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: lightgrey;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

article p {
    text-align: justify;
    padding: 15px;
}

footer {
    height: 100px;
    background-color: red;
    border-top: 2px solid black;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p:nth-of-type(2) {
    font-weight: bold;
}

@media all and (max-width: 900px) {
    main {
        flex-wrap: wrap;
    }
    .title {
        display: none;
    }
    
    nav.article-links {
        display: none;
    }
    
    /* Wyświetl hamburger na mniejszych urządzeniach */
    .hamburger {
        display: block;
    }
    
    /* Zmodyfikuj rozmieszczenie elementów w sekcji nagłówkowej */
    header {
        justify-content: space-between;
        /* Logo na lewo, hamburger na prawo */
    }
}